.homeMain{
    margin-top: 1rem;
    height: 80vh;
    overflow-y: auto;

    &::-webkit-scrollbar{
        display: none;
    }
}


.cardsDiv{
    display: grid;
    gap: 10px;
    grid-template-columns: 18rem 18rem 18rem;
    justify-content: space-between;
}

.noCardsDiv{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link{
    text-decoration: none;
    color: black;
}

.text{
    font-size: 2rem;
}